@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 95%;
  margin: auto;
}

header {
  /* border: 1px solid red; */
  background: url(asset/bg-hero-mobile.svg) hsl(193, 100%, 96%) no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

nav img {
  width: 30%;
}

nav button {
  background-color: white;
  border-radius: 1rem;
  width: 32%;
  border: white;
  box-shadow: -1px 2px 10px 1px grey;
  padding: 5px;
}
/* Hero-section start here */
.hero-section{
  /* border: 2px solid black; */
  text-align: center;
  /* margin-top: 3rem; */

}
.hero-content h2{
  width: 75%;
  margin: auto;
  line-height: 2rem;
  margin-top: 4rem;
  font-family: 'poppins', sans-serif;
}
.hero-content p{
  width: 70%;
  margin: auto;
  line-height: 1.3rem;
  margin-top: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}
.hero-content button{
  width: 68%;
  border-radius: 3rem;
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 0.7rem;
  border: none;
  margin-top: 1.5rem;
}
.hero-content img{
  width: 75%;
  margin-top: 3rem;
}

/* for the cards */
.main{
  margin-top: 2.5rem;
}
.cards{
  text-align: center;
  margin: auto;
  width: 90%;
  box-shadow: -1px 1px 1px 1px rgb(226,225,225);
  border-radius: 10px;
  margin-top: 2.5rem;
  padding: 1.2rem;
}
.card-1 img{
  width: 95%;
  margin-top: 2rem;
}
.card-1 h2{
  margin-top: 2.5rem;
  font-family: 'poppins', sans-serif;

}
.card-1 p{
  line-height: 1.3rem;
  color: hsl(208, 11%, 55%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.card-2 img{
  width: 95%;
  margin-top: 2rem;
}
.card-2 h2{
  margin-top: 2.5rem;
  font-family: 'poppins', sans-serif;
}
.card-2 p{
  line-height: 1.3rem;
  color: hsl(208, 11%, 55%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.card-3 img{
  width: 95%;
  margin-top: 2rem;
}
.card-3 h2{
  margin-top: 2.5rem;
  font-family: 'poppins', sans-serif;

}

.card-3 p{
  line-height: 1.3rem;
  color: hsl(208, 11%, 55%);
  font-family: 'Open Sans', sans-serif;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
.bottom{
  text-align: center;
  margin: auto;
  width: 90%;
  box-shadow: -1px 1px 1px 1px rgb(226,225,225);
  border-radius: 10px;
  margin-top: 2.5rem;
  padding: 1.2rem;
  position: relative;
  top: 40px;
  background-color: white;
}
.bottom h2{
  margin-top: 2rem;
  font-family: 'poppins', sans-serif;
  /* width: 115%; */
  font-size: medium;
}
.bottom button{
  margin-top: 1.5rem;
  width: 68%;
  border-radius: 3rem;
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 0.7rem;
  border: none;
}
footer{
  background-color: #09252E;
  color: white;
  padding-top: 7rem;
  padding-left: 1.5rem;
}
.huddle img{
  width: 25%;
}
ul{
  list-style: none;
  margin-top: 3rem;
  line-height: 2rem;

}
.location img{
  margin-top: 1rem;
}
.phone{
  margin-top: 1rem;
}
.email img{
  margin-top: 1rem;
}

.media{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.fa-facebook{
  border: white 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
}
.fa-twitter{
  border: white 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
}
.fa-instagram{
  border: white 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
}
.copyright{
  text-align: center;
  font-size: 10px;
  margin-top: 2rem;
}

